/* ------------  Snake Button ------------ */

.moovingBorder{
	background-color: #121614;
	box-shadow:0 20px 50px rgba(0, 0, 0, 0.897);
	overflow:hidden;
	position: relative;
	text-decoration:none;
	color: #fff;
	border: #07ed66 1.5px solid;
}
