.thib{
	background: linear-gradient( 
	#5f8661a1, transparent);
	box-shadow:0 20px 50px rgba(10, 10, 10, 0.726);
	min-width: ;
	width: 21rem;
	height: 21rem;
	left: calc(50% - 11rem);
	border-radius: 100%;
	overflow: hidden;
	object-fit: cover;
}

@media screen and (max-width: 1023px){
	.hideOnMobileMode{
		display: none;
	}
}

@media screen and (min-width: 1023px){
	.hideOnDesktopMode{
		display: none;
	}
}

